{% extends 'base.html' %}

{% block jumbo %}
    <h2>Surveys</h2>
{% endblock %}

{% block body %}
    <br /><br />
    {% for survey in surveys %}
        <div class="test_block">
            <label>{{ survey.title }}</label>
            <div class="start_div">
                <button class="btn btn-success btn-circle" type="button" >
                    <span class="glyphicon glyphicon-play-circle"></span>
                    Start test
                </button>
            </div>
        </div>
    {% endfor %}
{% endblock %}