{% extends 'base.html' %}

{% block jumbo %}
    <h2>Quizzes</h2>
{% endblock %}

{% block body %}
    <br /><br />
    {% for quiz in quizzes %}
        <form action="{% url 'quiz' quiz.id %}" target="_blank">
            <div class="test_block">
                <label>{{ quiz.title }}</label>
                <div class="start_div">
                    <a href="/quiz_statistic/{{ quiz.id }}/" class="btn btn-warning btn-circle" >
                        <span class="glyphicon glyphicon-stats"></span>
                        Statistic
                    </a>
                    <button class="btn btn-success btn-circle" type="submit" >
                        <span class="glyphicon glyphicon-play-circle"></span>
                        Start test
                    </button>
                </div>
            </div>
        </form>
    {% endfor %}

{% endblock %}