{% extends 'base.html' %}

{% block jumbo %}
    <h2>{{ survey.title }}</h2>
{% endblock %}

{% block body %}
    <div class="conteiner">
        <br/><br/>
        <form action="/submit_survey/" method="POST">
            <input type="hidden" name="survey_id" value="{{ survey_id }}" />
            {% for question in survey.type.questions %}
                {% if question.questionType %}
                    <fieldset>
                        <legend>Question {{ question.question.ordinal }}</legend>
                        <dl>
                            <dt>{{ question.question.text }} <br/><br/>

                                {% if question.questionType.answerType == 'one answer' %}
                                    {% for answer in question.questionType.answers %}
                                        <dd><input type="radio" name="{{ question.question.text }}"
                                                   value="{{ answer.text }}" required> {{ answer.text }}</dd>
                                    {% endfor %}
                                {% elif question.questionType.answerType == 'multiple answers' %}
                                    {% for answer in question.questionType.answers %}
                                        <dd><input type="checkbox" name="{{ question.question.text }}"
                                                   value="{{ answer.text }}"> {{ answer.text }}</dd>
                                    {% endfor %}
                                {% elif question.questionType.label == 'Likert' %}
                                    {% if question.questionType.presentationType == 'slider' %}
                                        <table style="width:100%">
                                            <tr>
                                                <th></th>
                                                {% for answer in question.questionType.answers %}
                                                    <th>{{ answer.description }}</th>
                                                {% endfor %}
                                            </tr>
                                            {% for statement in question.questionType.statements %}
                                                <tr>
                                                    <td>{{ statement.text }}</td>
                                                    <td colspan="{{ question.questionType.answers|length }}">
                                                        <dd><input type="range" min="1"
                                                                   max="{{ question.questionType.answers|length }}"
                                                                   name="{{ statement.text }}" value="" required></dd>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </table>

                                    {% else %}
                                        <table style="width:100%">
                                            <tr>
                                                <th></th>
                                                {% for answer in question.questionType.answers %}
                                                    <th>{{ answer.description }}</th>
                                                {% endfor %}
                                            </tr>
                                            {% for statement in question.questionType.statements %}
                                                <tr>
                                                    <td>{{ statement.text }}</td>
                                                    {% for answer in question.questionType.answers %}
                                                        <td>
                                                            <dd><input type="radio" name="{{ statement.text }}"
                                                                       value="{{ answer.number }}" required></dd>
                                                        </td>
                                                    {% endfor %}
                                                </tr>
                                            {% endfor %}
                                        </table>
                                    {% endif %}
                                {% elif question.questionType.label == 'Semantic dif' %}
                                    {% if question.questionType.presentationType == 'slider' %}
                                        {% for answer in question.questionType.answers %}
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>{{ answer.leftSideAnswer }}</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <input type="range" min="{{ answer.leftValue }}"
                                                           max="{{ answer.rightValue }}" name="{{ answer.leftSideAnswer }}"
                                                           value="" required>
                                                </div>
                                                <div class="col-md-2">
                                                    <label>{{ answer.rightSideAnswer }}</label>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        {% for answer in question.questionType.answers %}
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <label>{{ answer.leftSideAnswer }}</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <input type="radio" name="{{ answer.leftSideAnswer }}"
                                                           value="{{ answer.leftValue }}" required>
                                                </div>
                                                <div class="col-md-2">
                                                    <input type="radio" name="{{ answer.leftSideAnswer }}" value="0">
                                                </div>
                                                <div class="col-md-2">
                                                    <input type="radio" name="{{ answer.leftSideAnswer }}"
                                                           value="{{ answer.rightValue }}">
                                                </div>
                                                <div class="col-md-2">
                                                    <label>{{ answer.rightSideAnswer }}</label>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                {% elif question.questionType.label == 'Rank order' %}
                                    {% for answer in question.questionType.answers %}
                                        <div class="row">
                                            <div class="col-md-4"><label for="">{{ answer.text }}</label></div>
                                            <div class="col-md-2"><input type="number" min=0
                                                                         name="{{ answer.text }}" value="" required></div>
                                        </div>
                                    {% endfor %}
                                {% elif question.questionType.label == 'Open ended' %}
                                    {% if question.questionType.presentationType == 'input' %}
                                        <input type="text" name="{{ question.question.text }}" value="" required>
                                    {% else %}
                                        <textarea rows="10" cols="50" name="{{ question.question.text }}"
                                                  class="form-control" required></textarea>
                                    {% endif %}
                                {% else %}
                                    <p>This is N</p>
                                {% endif %}

                            </dt></dl>
                    </fieldset>
                {% endif %}
            {% endfor %}
            <input type="Submit" class="btn btn-primary" value="{{ survey.type.button.label }}">
        </form>
        <br>
        <br>
        <br>
        <br>
    </div>

{% endblock %}
