{% extends 'base.html' %}

{% block jumbo %}
    <h2>{{ quiz.title }}</h2>
{% endblock %}

{% block body %}
    <br /><br />
    <form action="/submit_quiz/" method="post">
        <input type="hidden" name="quiz_id" value="{{ quiz_id }}" />
        {% for question in quiz.type.questions %}
            {% if question.multipleAnswers %}
                <fieldset><legend>Question {{question.question.ordinal}}</legend>
                    <dl><dt>{{question.question.text}} <br/><br/>
                        {% for answer in question.answers %}
                            {% if question.multipleAnswers == 'one answer' %}
                                <dd><input type="radio" name="{{question.question.text}}" value="{{answer.answer.text}}"> {{answer.answer.text}}</dd>
                            {% elif question.multipleAnswers == 'ordered' %}
                                <p>Set numbers so that the order is correct:</p>
                                <ul>
                                    {% for orderedAnswer in answer.answer.sortedAnswers %}
                                        <li> <label for="">{{orderedAnswer}}</label> <input type="number" name="{{orderedAnswer}}" value=""> </li>
                                    {% endfor %}
                                </ul>
                            {% elif question.multipleAnswers == 'matching' %}
                                <ol style="display: inline-block;">
                                    {% for matchedAnswers in answer.answer.matchedAnswers  %}
                                        <li>{{matchedAnswers.key}}</li>
                                    {% endfor %}
                                </ol>
                                <ul style="display: inline-block;">
                                    {% for matchedAnswers in answer.answer.matchedAnswers  %}
                                        <li>{{matchedAnswers.value}} <input type="number" name="{{matchedAnswers.value}}" value=""></li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <dd><input type="checkbox" name="{{question.question.text}}" value="{{answer.answer.text}}"> {{answer.answer.text}}</dd>
                            {% endif %}
                        {% endfor %}
                    </dt></dl>
                </fieldset>
            {% endif %}
        {% endfor %}
        <input type="Submit" value="{{quiz.type.button.label}}">
    </form>
    <script type="text/javascript">
    </script>

{% endblock %}
